body {
    color:rgb(0, 0, 0);
    font-family: "Arial", sans-serif;
    text-align: center;
  }

.header{
  padding: 10px; /* Reduce el padding */
  height: 75px; /* O establece una altura fija */
  background-color: black;
  background-size: cover;
  background-position: center;
    
  }

#logo{
    width: 40px; /* Ajusta el ancho del logo */
    height: auto; /* Mantén la proporción */
    margin: 0 auto;
    display: block;
    color: white;
    margin-left: -10px;
    margin-top: 5px;
}

#logoo{
  margin: 0 auto;
  display: block;
  color: white;
  margin-top: -5px;
  margin-right: 10px; 
  width: 35px; /* Ajusta el tamaño de los logos */
  height: auto; /* Mantén la proporción */
}

.header2{
  padding: 20px;
  background:rgba(0, 0, 0, 0.3);
  background-image: url(../img/white-low-poly-background-338.jpg);
  background-size: cover;             
  background-position: center;
  margin-top: 0px;
  font-family: "Rethink Sans";
  color: rgb(0, 0, 0);
  text-align: justify;
  
}
#qui{
  text-align: center; 
  font-family: "Winky Rough";
  text-shadow: 0 0 5px rgba(1, 107, 102, 0.8), 
  0 0 10px rgba(0, 93, 200, 0.6), 
  0 0 15px rgba(0, 0, 116, 0.4);
  font-size: 50px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;  
}

#di{
  border-radius: 15px; /* Ajusta el valor para redondear más o menos */
  overflow: hidden; /* Asegura que el contenido no se salga de los bordes redondeados */
  margin-left: 90px;
  width: 72%;
  box-shadow: 0 0 15px rgba(112, 255, 248, 0.8), /* Luz blanca */
                0 0 30px rgba(0, 93, 200, 0.6), /* Luz azul */
                0 0 45px rgba(0, 0, 116, 0.4); /* Luz más intensa */
  margin-bottom: 50px;


}

#texto{
  font-size: 20px;
  margin-top: 7px;
  margin-right: 15px;

}

.ratio {
  margin-top: 0px; /* Espaciado superior */
  max-width: 100%; /* Asegura que ocupe todo el ancho */
  height: auto; /* Mantén la proporción */
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
  box-shadow: 0 0 15px rgba(112, 255, 248, 0.8), /* Luz blanca */
                0 0 30px rgba(0, 93, 200, 0.6), /* Luz azul */
                0 0 45px rgba(0, 0, 116, 0.4); /* Luz más intensa */
 
}

@media (max-width: 700px) { /* Para dispositivos móviles */
    .ratio {
        max-width: 100%; /* Ocupa todo el ancho en móviles */
    }
}

.header2estudis{
  padding: 20px;
  background:rgba(130, 253, 255, 0.3);
  background-size: cover;             
  background-position: center;
  margin-top: 0px;
  font-family: "Rethink Sans";
  color: rgb(0, 0, 0);
  text-align: justify;
}

#esco{
  text-align: center; 
  font-family: "Akaya Kanadaka";
  text-shadow: 0 0 5px rgba(255, 222, 114, 0.8), 
  0 0 10px rgba(236, 197, 100, 0.6), 
  0 0 15px rgba(198, 94, 3, 0.4);
  font-size: 50px;
  color: rgb(0, 0, 0);
  margin-top: 20px; 
  margin-bottom: 10px;   
}

#monte{
  width: 55%;
  margin-bottom: 50px;
  box-shadow: 0 0 15px rgba(187, 124, 76, 0.8), /* Luz blanca */
                0 0 30px rgba(155, 108, 62, 0.6), /* Luz azul */
                0 0 45px rgba(85, 66, 39, 0.4); /* Luz más intensa */
  border-radius: 90%; /* Hace que la imagen sea completamente circular */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor circular */
  margin-top: 45px;
  margin-left: 150px;
  
}

#joan{
  width:70%;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 50px;
  box-shadow: 0 0 15px rgba(112, 255, 248, 0.8), /* Luz blanca */
                0 0 30px rgba(0, 93, 200, 0.6), /* Luz azul */
                0 0 45px rgba(0, 0, 116, 0.4); /* Luz más intensa */
 
  
}

#mapa1{
  width: 50%;
  height: 100%;
  margin-top: -2px;
  border-radius: 15px; /* Ajusta el valor para redondear más o menos */
  overflow: hidden; /* Asegura que el contenido no se salga de los bordes redondeados */
  margin-left: 300px;
  margin-bottom: 250px;
  text-align: center;
   box-shadow: 0 0 15px rgba(0, 42, 133, 0.8), /* Luz blanca */
                0 0 30px rgba(0, 93, 200, 0.6), /* Luz azul */
                0 0 45px rgba(0, 0, 116, 0.4); /* Luz más intensa */
  
 
}

#mapa2{
  width: 70%;
  height: 50%;
  /* margin-top: 1px; */
  border-radius: 15px; /* Ajusta el valor para redondear más o menos */
  overflow: hidden; /* Asegura que el contenido no se salga de los bordes redondeados */
  margin-bottom: 10px;
  margin-left: 50px;
   box-shadow: 0 0 15px rgba(0, 46, 146, 0.8), /* Luz blanca */
                0 0 30px rgba(0, 93, 200, 0.6), /* Luz azul */
                0 0 45px rgba(0, 0, 116, 0.4); /* Luz más intensa */
  
   
}
#texto2{
  font-size: 20px;
  margin-top: 18px;
  margin-right: 15px;

}

.header2expe{
  padding: 20px;
  background:rgba(255, 197, 82, 0.3);
  background-size: cover;             
  background-position: center;
  margin-top: 0px;
  font-family: "Rethink Sans";
  color: rgb(0, 0, 0);
  text-align: justify;
  
  
}

#ara {
    width: 80%;
    margin-bottom: 0%;
    box-shadow: 0 0 15px rgba(255, 118, 118, 0.8), /* Luz amarilla */
                0 0 30px rgba(171, 64, 64, 0.6), /* Luz más suave */
                0 0 45px rgba(73, 19, 19, 0.4); /* Luz más difusa */
    border-radius: 5%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Ajusta la imagen al contenedor circular */
    margin-top: 10px;
}

#bala {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 0%;
    box-shadow: 0 0 15px rgba(195, 255, 110, 0.8), /* Luz amarilla */
                0 0 30px rgba(106, 178, 67, 0.6), /* Luz más suave */
                0 0 45px rgba(50, 102, 20, 0.4); /* Luz más difusa */
    border-radius: 8%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Ajusta la imagen al contenedor circular */
}

#texeco{
  font-size: 20px;
  max-width: 800px;
  margin-left: 20%;

}

.header2smx{
  padding: 20px;
  background:rgba(12, 121, 222, 0.3);
  background-size: cover;             
  background-position: center;
  margin-top: 0px;
  font-family: "Rethink Sans";
  color: rgb(0, 0, 0);
  text-align: justify;
  
}

.footer{
  text-align: center;
  background-color: black;
  color: white;
}

#footer{
  text-align: center;
  color: white;
  margin-top: 30px;
 
}

