body {
    color:rgb(0, 0, 0);
    font-family: "Arial", sans-serif;
    text-align: center;
  }

.header{
  padding: 10px; /* Reduce el padding */
  height: 75px; /* O establece una altura fija */
  background-color: black;
  background-size: cover;
  background-position: center;
    
  }

#logo{
    width: 25%;
    height: 25%;
    margin: 0 auto;
    display: block;
    color: white;
    margin-left: -10px;
    margin-top: 10px;
}

#logoo{
  margin: 0 auto;
  display: block;
  color: white;
  margin-top: -5px;
  margin-right: 10px; 
  width: 35px; /* Ajusta el tamaño de los logos */
  height: auto; /* Mantén la proporción */
}

.header2{
  padding: 20px;
  background:rgba(0, 0, 0, 0.3);
  background-image: url(/img/white-low-poly-background-338.jpg);
  background-size: cover;             
  background-position: center;
  margin-top: 0px;
  font-family: "Rethink Sans";
  color: rgb(0, 0, 0);
  text-align: justify;
}
#qui{
  text-align: center; 
  font-family: "Winky Rough";
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
  0 0 10px rgba(255, 255, 255, 0.6), 
  0 0 15px rgba(255, 255, 255, 0.4);
  

}

.ratio {
  margin-top: 0px; /* Espaciado superior */
  max-width: 100%; /* Asegura que ocupe todo el ancho */
  height: auto; /* Mantén la proporción */
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
 
}

@media (max-width: 700px) { /* Para dispositivos móviles */
    .ratio {
        max-width: 100%; /* Ocupa todo el ancho en móviles */
    }
}