<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURRICULUM VITAE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">  
    <link rel="icon" href="../img/envelope-solid.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Limelight&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header"><!--abre div de header-->
        <div class="container-fluid"> <!--abre div de container text-center-->
            <div class="row"><!--abre row-->
               <div class="col-sm-3 col-lg-4"><!--sm tamaño movil lg tamaño ordenador, abre div logo-->
                <!-- Logo con dropdown -->
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="logo" src="../img/earth-americas-solid (1).svg" alt="Logo">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../view/en/experience.html">English </a></li>
                    </ul>
                </div>
              </div><!--cierra div texto-->
    
            <div class="col-sm-9 col-lg-8">
                <nav id="colonav" class="navbar navbar-expand-lg">
                    <div class="container-fluid d-flex justify-content-end align-items-center gap-2">
                        <a class="navbar-brand" href="../index.html">
                            <img id="logoo" src="../img/signs-post-solid (1).svg" alt="Logo 1">
                        </a>
                        <a class="navbar-brand" href="estudis.html">
                            <img id="logoo" src="../img/school-solid (1).svg" alt="Logo 2">
                        </a>
                        <a class="navbar-brand" href="experiencia.html">
                            <img id="logoo" src="../img/id-card-solid.svg" alt="Logo 3">
                        </a>
                    </div>
                </nav>
            </div><!--cierra div texto-->
            </div><!--cierra row -->
        </div><!--cierra div de container fluid-->
    </div><!--cierra div de header-->

    <div class="header2expe"><!--abre div de header2-->
        <div class="container text-fluid"> <!--abre div de container text-fluid-->
            <div class="row"><!--abre row-->
                <div class="col-sm-12 col-lg-12"><!--sm tamaño movil lg tamaño ordenador, abre div texto-->
                    <h2 id="qui" class="col-sm-12 col-lg-12">EXPERIÈNCIA</h2>
                </div><!--cierra div texto-->
                 <div class="col-sm-12 col-lg-12"><!--sm tamaño movil lg tamaño ordenador, abre div texto+img-->
                    <p id="texeco"><strong>Escola Balaguer – Pràctiques formatives
                    <br>L'Hospitalet de Llobregat
                    <br>Maig 2024 – Desembre 2025</strong>
                    <br>Durant el meu període de pràctiques a l’Escola Balaguer, vaig donar suport al departament d’informàtica ajudant en tasques com la configuració d’ordinadors, instal·lació de programari, manteniment de xarxes i resolució d’incidències tècniques. Aquesta experiència m’ha permès aplicar coneixements apresos en el cicle formatiu i entendre el funcionament del suport tècnic dins d’un entorn educatiu real.
                    <br><br>
                    <strong> Aramark – Atenció al client en esdeveniments
                    <br>Diversos estadis i recintes a Barcelona
                    <br>2025 – Actualitat</strong>
                    <br>Treballo com a auxiliar de barra en esdeveniments esportius i concerts. Les meves funcions inclouen atendre els clients, servir begudes i menjar, gestionar cobraments i mantenir l’ordre i la neteja del lloc de treball. Aquesta feina m’ha ajudat a desenvolupar habilitats en atenció al públic, treball en equip i gestió del temps en situacions de gran afluència de gent.</p><!--texto de encima de la foto  + id para aplicar estilo al texto-->
                </div><!--cierra div texto + img-->
                 <div class="col-sm-12 col-lg-6"><!--sm tamaño movil lg tamaño ordenador, abre div texto+img-->
                    <img id="ara" src="../img/Logo_aramark_RGB.webp">
                </div><!--cierra div texto + img-->
               <div class="col-sm-12 col-lg-6"><!--sm tamaño movil lg tamaño ordenador, abre div texto+img-->
                     <img id="bala" src="../img/cropped-EscolaBalaguer55-1.png">
                </div><!--cierra div texto + img-->
               
                </div><!--cierra div texto-->
            </div><!--cierra row--> 
    </div><!--cierra div de header2-->
</body>
</html>